<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="mehndi, mehndi designs, mehndi design easy, mehndi easy designs, mehndi new design, mehndi ki design, mehndi simple, mehndi laga ke rakhna, mehndi video, mehndi arabic, mehndi video design, mehndi images, mehndi hand designs, bridal mehndi, mehndi bridal, mehndi bride, mehndi film, mehndi pictures, mehndi pics, mehndi designs kids, mehndi kids design, mehndi tattoo, mehndi songs, mehndi lagana, mehndi ka photo, mehndi easy, mehndi style, mehndi hands, mehndi on hands, mehndi jewellery design, mehndi book, mehdi hassan, mehndi movie, mehndi unique designs, mehndi designs for feet, mehndi color, mehndi 2019, mehndi for kids, mehndi flower, mehndi pakistani, mehndi dress, mehndi rachne wali, mehndi art, mehndi ki raat, mehndi 1998, mehndi for hair, mehndi hair, mehndi in hair, mehndi on hair, mehndi cones, mehndi wedding, mehndi rose, mehndi patterns, mehndi artist near me, mehndi quotes, mehndi bridal dresses, mehndi decoration, mehndi for men, mehndi function, mehndi dance, mehndi in english, mehndi songs list, mehndi artist, mehndi designs 2020, mehndi with name, mehndi laga ke rakhna movie, mehndi youtube, mehndi ceremony, mehndi near me, mehndi rang lagyo, mehndi mehndi song, mehndi jewelry, mehndi stickers, mehndi leaf, mehndi leaves, mehndi games, mehndi plant, mehndi rasam, mehndi invitation, mehndi 2 film, mehndi feet, mehndi on feet, mehndi stencils, mehndi henna, mehndi tree, mehndi remover, mehndi 2018, mehndi rang layi, mehndi flower jewelry, mehndi card, mehndi recipe, mehndi party, mehndi ki raat song, mehndi outfit, mehndi bridal outfits, mehndi outfits for bride, mehndi quotes in hindi, mehndi captions, mehndi video dikhao, mehndi meaning, mehndi instagram, mehndi butterfly, mehndi lotus, mehndi event decor, mehndi rachne wali lyrics, mehndi ingredients, mehndi atlanta, mehndi magic henna kit, mehndi madness, mehndi nj, mehndi groom outfit, mehndi evening, mehndi pronunciation, mehndi ungli design, mehndi rang layegi, mehndi songs lyrics, mehndi oil, mehndi movie cast, mehndi ni mehndi, mehndi powder, how mehndi design, mehndi vector, mehndi makeup, mehndi 3d, 0 mehndi pyar wali, mehndi mandala, how mehndi is useful for hairs, mehndi green color, mehndi youtube video, mehndi music, mehndi background, mehndi designs like tattoo, is mehndi good for hair, mehndi invitation wording, mehndi tubes, mehndi ungli ki design, mehndi 2020, mehndi stage, mehndi night, mehndi 1998 cast, mehndi stamps, which mehndi cone is best for bridal, mehndi green, mehndi themes, mehndi 2 bhojpuri movie, mehndi urdu, mehndi designs like bracelet, mehndi indian wedding, mehndi application, mehndi drama, which mehndi is best for hair, mehndi history, mehndi clothes, mehndi plates, is mehndi allowed during pregnancy, which mehndi is good for hair, mehndi jaal design, mehndi jashnani, mehndi cake, mehndi origin, mehndi uses, mehndi blouse, mehndi amazon, mehndi vs hair color, mehndi 1998 film, 50 mehndi design, mehndi 2 picture video, how mehndi colour get dark, mehndi 2017, how much does bridal mehndi cost, mehndi celebration, mehndi with cello tape, mehndi kit, mehndi laga ke rakhna dance, mehndi to rang lati hai song, mehndi and design, mehndi 6, 99 mehndi ki design, mehndi to rang lati, mehndi and hairstyle, mehndi food, mehndi tradition, mehndi 4, how much time keep mehndi in hair, which mehndi cone is best, bridal mehndi near me, mehndi to vavi malve, mehndi jewellery online, 99 mehndi ke design, how many types of mehndi designs are there, mehndi templates, mehndi hai rachne wali movie, mehndi nearby, mehndi and sangeet, mehndi wiki, mehndi tools, 7ana mehndi design, mehndi night songs, mehndi with earbuds, mehndi quality, mehndi to rang layegi, mehndi henna kit, how many types of mehndi, how many types of mehndi designs, mehndi candles, mehndi gifts, mehndi hair dye, mehndi gandhi, mehndi gift bags, mehndi quotations, mehndi 5, mehndi with video, mehndi yadav, mehndi event, mehndi youtube par, which mehndi is best for hand, mehndi vector png, mehndi queen, can mehndi be applied on oily hair, mehndi jewellery set, mehndi trays, mehndi quotes for wedding, mehndi 3, mehndi or henna, mehndi vs henna, is mehndi design, mehndi event ideas, mehndi backdrop, can mehndi be applied on hands during pregnancy, mehndi or hair colour, mehndi 1958, mehndi gift ideas, mehndi pakistani drama, mehndi yellow dresses, mehndi jobs near me, mehndi ki ye raat, mehndi return gifts, mehndi ki raat lyrics, mehndi and indigo powder, 99 mehndi design, how much do mehndi artists charge, which mehndi is good for hair colour, which mehndi is best for white hair, mehndi 1983, mehndi hand art, mehndi night ideas, mehndi cookies, how many hours should mehndi on hair, mehndi kurta style for mens 2019, how mehndi is made, mehndi like tattoo, can mehndi be applied on coloured hair, mehndi ye to mehndi hai, mehndi wall art, kali mehndi vs hair color, mehndi or hair color, like mehndi, mehndi and amla powder for hair, mehndi 4 art, mehndi or rangoli design, mehndi 1998 hindi movie, mehndi 2021, mehndi with indigo powder, mehndi ki yeh raat lyrics, mehndi and beetroot for hair, mehndi entrance, mehndi night gifts, mehndi lotus flower, mehndi without smell, which mehndi is best, to mehndi hai, which mehndi is good for hand, mehndi without chemicals, mehndi waistcoat, for mehndi function dress, mehndi ink, mehndi entrance songs, mehndi zone, is mehndi sunnah, mehndi without cone, mehndi attire, mehndi night games, mehndi tattoo sleeve, how mehndi get dark, henna mehndi near me, who mehndi pyar wali, mehndi what to wear, how much does mehndi cost, mehndi 99, mehndi venues near me, mehndi walk in songs, mehndi and henna, can mehndi, 0 mehndi pyar wali dj, mehndi 3gp, black mehndi without chemicals, khadi mehndi near me, mehndi lenghas, mehndi night decor ideas, 4k mehndi designs, mehndi to chintu pandey film, mehndi 56, which mehndi is best for hair colour, when mahdi will come, mehndi flower meaning, mehndi 3d design, is mehndi bad for hair, mehndi 7, mehndi umbrellas to buy, mehndi jhoola, can mehndi be applied during pregnancy, why mehndi design, hand mehndi near me, mehndi 1998 movie, mehndi guest outfit, mehndi indian movie, mehndi or mehendi">
    <meta name="keywords" content="how many mehndi, mehndi episode 1, where did mehndi originate from, mehndi yellow dress designs, mehndi 9, mehndi with beetroot, mehndi entrance ideas, mehndi umbrella decor, mehndi drama cast, mehndi quartz, mehndi urdu poetry, how many days does mehndi last, mehndi umbrella, mehndi and haldi ceremony, mehndi outfits 2020, mehndi with aloe vera gel, for mehndi dress, mehndi yellow suit, mehndi wedding meaning, how many types of mehndi are there, mehndi to hindi, mehndi versus video, mehndi will put in love hands, mehndi mehndi, 400 mehndi design, who uses mehndi, why mehndi gives colour, mehndi 6 class, mehndi will fall in love hands, mehndi vs sangeet, mehndi 1998 picture, mehndi lehenga, mehndi gol tikki design, to mehndi hai rang layegi, what mehndi is made up of, mehndi youtube design, with mehndi design, mehndi quotes for groom, can mehndi expire, mehndi 9 batao, 88 mehndi, are big mehndi design, mehndi are dikhaye, mehndi zone cathedral road, mehndi design like ring, mehndi 900, mehndi near me with price, who make mehndi, 89 mehndi, mehndi 820, who started mehndi, 7 mehndi design, where was mehndi originate, what mehndi design, is mehndi allowed in cbse board exam, mehndi 55, how mehndi pyar wali, for mehndi art, mehndi wilsonart, why mehndi ceremony, mehndi quotes for sister, where mehndi design, 0 mehndi pyar wali song download, where mehndi is used, mehndi outfits for brides 2020, mehndi beer, how much does a mehndi party cost, mehndi zoom photo, is mehndi safe, mehndi 30 30 30, how long will mehndi last, mehndi zindagi, mehndi 9 class, mehndi wrist design, mehndi 500gm, mehndi designs like bangles, mehndi 61, mehndi and mustard oil for hair, mehndi 5 minute craft, are mehndi parties haram, are mehndi ki design, mehndi 6 dikhaye, with mehndi function, mehndi 420, 4 mehndi design, mehndi vibes, mehndi 56 dikhaye, mehndi or rangoli, 80 mehndi design, are mehndi design, 0 mehndi pyar wali mp3 song download, is mehndi allowed for canada visa biometric, mehndi 3 film, who invented mehndi, 82 mehndi design, with mehndi girl, mehndi or hair dye, why mehndi turns red, are mehndi songs, how often to use mehndi on hair, mehndi 600, mehndi where does it come from, why mehndi at diwali, for mehndi sangeet, what's mehndi ceremony, mehndi will put on loving hands, 0 mehndi pyar wali song, why mehndi gives red colour, mehndi and henna difference, where does mehndi originated from, mehndi 4k video, will mehndi affect fingerprints, when mehndi is dark, dholki and mehndi, 0303 mehndi, why mehndi turns black, oh mehndi will be on loving hands, without cone mehndi design, mehndi zomato, mehndi 70, mehndi or mehandi, 0 mehndi pyar, mehndi 400, 604 mehndi by farhath, near me mehndi artist, mehndi designs like chain, for mehndi drawing, mehndi like bracelet, what mehndi in english, mehndi are dikhao, for mehndi songs, mehndi zee tv, how mehndi can be removed, mehndi 3 bhojpuri, what mehndi called in english, vs mehndi, mehndi 802, where did mehndi come from, mehndi are you, mehndi thaal, how mehndi become dark, how much mehndi design, 89 mehndi design, mehndi are coming, mehndi vibes meaning in urdu, can mehndi be removed, how many mehndi design, without mehndi, will mehndi design, mehndi 95, is mehndi permanent, mehndi or anda, what's mehndi dance, 7070 mehndi design, mehndi 3 bhojpuri movie, how much do mehndi tattoos cost, mehndi z, why mehndi for a wedding, can mehndi design, like mehndi video, mehndi without hands, mehndi 2020 pic, mehndi or hairstyle, near mehndi shop, 786 mehndi design, mehndi 4k image, for mehndi designs, who discovered mehndi, mehndi 56 video, mehndi zara, who mehndi design, how often to apply mehndi on hair, for mehndi pic, 70 mehndi design, mehndi 58, why mehndi becomes dark, mehndi 45, why mehndi is applied, mehndi 50, mehndi with heena, mehndi youtube mein, how many days does mehndi stays, how much do mehndi artists charge uk, mehndi are used for, how many hours should mehndi on hand, 0303 mehndi design, mehndi 2 film video, 777 mehndi design, how much do mehndi cost, mehndi 604, when mehndi ka design, mehndi vs mehandi, mehndi 3d printer, who wears mehndi, like mehndi design, will mehndi, for mehndi function, mehndi 1998 full hindi movie, 6 mehndi design, 8 mehndi designs, mehndi quotes for husband, mehndi 6 dekhte chai, who made mehndi, when does mehndi turn black, to mehndi tattoo, what mehndi is used for, mehndi 902, when mehndi video, how much does mehndi cost in india, mehndi 6 video, when mehndi design, without chemical mehndi for hair, what's mehndi mean, near mehndi design, how mehndi ki design, mehndi where to buy, to mehndi film, when daler mehndi died, mehendi vs mehndi, mehndi 800, mehndi 8, mehndi will love loving hands, mehndi 786, mehndi zanjeer wali, where is mehndi practiced, henna designs and mehndi, mehndi vs tattoo, mehndi 0, who created mehndi, mehndi upper hand design, 0 mehndi pyar wali song download pagalworld, what mehndi in hindi, how mehndi works, where is mehndi pur bala ji, mehndi 3 bhojpuri film, mehndi when to use, mehndi when pregnant, wedding without mehndi, can mehndi be applied during periods, when mehndi started, can mehndi remove dandruff, mehndi seeds, mehndi 1949, mehndi jeep, mehndi jager, is mehndi and henna the same thing, , henna, hina khan, henna designs, henna mehndi designs, henna for hair, henna hair, henna in hair, henna on hair, henna mehndi, henna designs simple, henna designs easy, henna movie, henna powder, henna tattoo, henna hand designs, jenna marbles, henna plant, henna for black hair, henna on black hair, henna for hair color, henna hair color, henna colors for hair, henna leaves, what henna means, henna meaning, henna hair dye, henna to dye hair, henna dyed hair, henna tattoo designs, henna color, henna good for hair, henna designs for kids, henna leg design, henna tree, henna uses, henna hand, henna with indigo, henna indigo, henna for grey hair, henna for hair growth, henna on hand, henna white, henna flower, henna art, henna quotes, henna and indigo, henna natural hair, henna cones, henna oil, henna shampoo, henna red hair, henna stencils, henna on eyebrows">
    <meta name="keywords" content="henna videos, henna for brown hair, henna on brown hair, henna red, henna eyebrows, henna for eyebrows, henna dye, henna for men, henna artist near me, henna patterns, henna drawings, henna artist, henna with beetroot, henna easy, henna ideas, henna on feet, henna 1991 movie download, henna near me, henna paint, henna hand tattoo, henna designs for men, henna 1991 songs, how many hours should henna be soaked, henna paste, henna vatika, henna brow, henna brows, henna lips, henna with coffee, henna rose, henna mandala, henna amazon, henna removal, henna ingredients, henna freckles, henna recipe, henna 1991, henna natural hair dye, henna kit, henna pen, henna or hair color, henna hair dye colors, henna lush, henna youtube, henna and coffee, henna origin, henna cream, henna wedding, henna definition, henna name meaning, henna light brown, henna guys beard dye, henna shampoo red, henna dye for skin, henna austin, henna rainbow, henna freckles kit, henna 4, henna jet black hair dye, henna chevy, henna and indigo dye, henna jalal, henna guys review, henna kit hobby lobby, henna kit for beginners, henna austin chevrolet, henna plug, henna face tattoo, henna jafri, will henna damage your hair, henna utensils, can henna be used on relaxed hair, henna and lemon juice, henna at walmart, henna nails, henna red hair dye, henna tattoo kit, henna jagua, henna wallpaper, why henna is soaked in iron container, henna or mehndi, henna salon, henna natural, henna hair dye red, henna tubes, henna party, henna wiki, henna allergy, henna lotus, henna leg tattoo, which henna is best, how many hours henna on hair, henna beard dye, henna gray hair, henna elephant, how many hours should henna stay on hair, henna night, henna on dark hair, henna eyebrow tint, henna vs hair dye, henna 2017, henna caravan, is henna safe, is henna edible, henna to buy, henna for gray hair, which henna is best for grey hair, henna where to buy, henna ink, henna vs mehndi, henna style tattoo, henna sooq, henna king, henna to cover grey hair, henna shops near me, henna mask, henna 2019, henna back tattoo, how henna is made, henna tattoo near me, henna vs tint, henna sleeve, henna ink kit, henna freckles fail, henna near my location, henna golecha, which henna is good for grey hair, can henna be black, henna under breast tattoo, can henna dye black hair, henna without ppd, henna without metallic salts, henna while pregnant, henna color lab reviews, henna rinse, are henna tattoos, what henna is safe, how much henna and indigo do i need, how many grams of henna do i need, what henna does to hair, henna lab, is henna bad for you, henna eyebrow kit, where henna comes from, what henna to use for freckles, henna kit walmart, henna vector, henna without chemicals, henna guys, henna where does it come from, are henna tattoos safe, henna or jagua, can henna be removed from hair, henna vs tattoo, henna 1991 movie, henna zodiac signs, how henna helps hair, henna zentangle, henna 101, henna 3 hours, when henna dries, henna moon, henna gone wrong, henna jewish wedding, henna qaisar, henna lip stain, how much henna for hair, when henna goes wrong, can henna go bad, henna vs black henna, henna near me prices, how henna is good for hair, will henna damage my hair, henna arm tattoo, how many days does henna last, how henna works on hair, henna near me now, henna ideas simple, which henna is safe for skin, is henna dangerous, henna lounge, henna color lab, henna vs jagua, henna 5, henna tattoo ideas, henna blossoms, henna zone, henna versus hair dye, is henna hair dye permanent, henna kit amazon, henna like tattoo, henna nail polish, how often henna hair, henna and hair dye, henna jewelry, henna kit michaels, henna wall art, is henna toxic, henna eyeliner, henna hair dye near me, henna hand art, henna zelowa, henna virus, henna crown, henna places near me, henna without color, henna unicorn, henna gloss bar, who made henna, henna yemen, henna and pregnancy, henna on bleached hair, henna qureshi, henna 4 you, henna yin yang tattoo, henna for freckles, will henna damage hair, which henna is safe, henna que es, how much henna for long hair, henna walmart, is henna bad for your hair, henna chevrolet, are henna tattoos bad for you, are henna tattoos painful, henna japanese, henna your hair, how henna tattoos work, henna and amla, will henna cover gray, henna vs indigo, henna vs cassia, henna near me open now, can henna cover gray hair, henna brow kit, henna elephant tattoo, henna powder near me, how henna hair dye works, who does henna eyebrows near me, henna or hair dye, henna gloss recipe, cassia vs henna, how many henna cones do i need, henna yogurt, henna eyebrow tattoo, henna n placenta, how often henna can be applied, henna jamila, how henna works, henna gloss, can henna cover grey hair, henna 4 hair, henna and amla powder, henna yogurt hair treatment, henna tattoo prices, henna to cover gray, henna nearby, is henna tattoo permanent, henna tattoo ink, can henna expire, henna ink near me, which henna is good for hair growth, henna to cover gray hair, henna rings, henna usa, henna nail art, henna instructions, henna wrist, henna maiden, henna 2 step process, henna 100 natural, why henna is bad for your hair, how much henna to dye hair, henna 9 herbs, is henna bad for your skin, henna 3gp, henna eyelash tint, henna yin yang, henna markers, henna to cover grey, henna kit target, how often can henna be applied to hair, henna reaction, henna sun, how many hours keep henna on hair, hairprint vs henna, henna eyebrow dye, henna vines, who invented henna, how henna helps in hair growth, henna whole foods, henna when pregnant, henna kit near me, henna or dye, henna queen, how much henna tattoo cost, henna yoghurt, henna without red, henna ulta, which henna hair dye is best, henna makeup, henna 4c hair, will henna cover grey hair, why henna is good for hair, is henna permanent, henna 75287, what henna is good for freckles, henna urban dictionary, how much henna to use for long hair, henna 7, henna 6 hours, 6 henna place heritage park, henna 9, heena 3gp song download, why henna is not good for hair, henna 320kbps mp3">
    <meta name="keywords" content="henna 314, henna 4a hair, henna when you are pregnant, henna 6 tygodniowa, henna_x_ instagram, when henna hair, with henna paste, how often henna should be used, will henna cover dyed hair, what henna to buy, 70 henna street warrnambool, henna 360, with henna amla, henna 3d printer, henna without indigo, henna and placenta, henna like marks on hands, henna 500 gms, why henna is cultural appropriation, 53 henna street warrnambool, how much henna to use, henna near yishun, why henna for weddings, how often henna treatment, henna without red tones, henna zaidi, henna like wallpaper, henna 2018 designs, to henna means, henna when breastfeeding, are henna freckles safe, will henna cover white hair, henna quotes pinterest, 8327 henna ave s, henna 69 tattoo, are henna brows worth it, which henna color is best, who sells henna, henna 320kbps, henna quartz wangsa maju, henna 4 u leicester, how many times henna in a month, henna za kosu, how often henna hair dye, 89 henna street warrnambool, 85 henna street warrnambool, moyou henna 04, who does henna brows near me, henna xing, henna 94, with henna hair dye, where henna paste, henna xenna, henna 100 natural anoos, henna 30 minute, henna zenia, henna xha, 8 henna st warrnambool, henna xalapa, henna like designs, can henna hair be bleached, 52 henna street warrnambool, henna without color for hair, how often henna gloss, who does henna tattoos, 8 henna street warrnambool, henna like ink, how much henna to use for short hair, 76a henna street, to henna definition, henna 4 hours, henna 6, henna 3203, henna or no, 94 henna hands picture, when henna is done, where henna is used, henna where to get it done, henna like names, 74 henna street warrnambool, henna 90s, henna 7 innate, henna zwart, where henna is made, henna 500 more than carmax, for henna designs, henna x tintura, henna 2020, with henna design, henna when to take off, henna xanthan gum, henna near eyes, how often henna, 81 henna st warrnambool, where henna originated, henna 2018 instagram, $5 henna designs, henna where to buy near me, how often henna natural hair, henna 5 minute crafts, who does henna tattoos near me, henna like stains on hands, henna 2019 designs, henna 2 hours, henna qazi, with henna ink, moyou henna 07, henna 69th street, henna ssy 0372, 91 henna street warrnambool, can henna tattoos get wet, why henna doesn't work, who created henna, henna without lemon juice, who sells henna hair dye, henna 530 foundation, 9 henna street, 81 henna street warrnambool, are henna brows safe, 75 henna 25 indigo, henna your eyebrows, henna 4c before after, what henna is best for freckles, henna like ring, henna 4c natural hair, how many hours henna, henna vs inkbox, how much henna do i need, henna and gray hair, 63 henna street warrnambool, henna versus hair color, to henna tattoo, where henna movie shot, henna 500g, how many days henna tattoo last, henna 24 hours, henna zanzibar, for henna tattoo designs, what henna to buy for freckles, to henna origin, henna like hand tattoos, who does henna near me, 76 henna street warrnambool, why henna on hands, henna like art, what henna made of, henna 6 tygodni, henna 2 days in a row, henna near us, are henna tattoos bad for your skin, why henna tattoo, 61 henna street warrnambool, henna 92, how henna powder is made, henna 48 hours, henna or henna, without henna powder, 9904 henna lane, henna 1kg, 84 henna street warrnambool, for henna tattoo artist, with henna mehndi, what henna is best for hair, 6 henna street warrnambool, henna 93, 76a henna street warrnambool, how henna hair, henna when to wash, nancy hina 06, henna brows near me, 8 henna place heritage park, 78 henna street warrnambool, how often henna can be used, henna san antonio, henna joanns, henna in san antonio, why henna is good for your hair, henna tattoo san antonio, henna when pregnant nhs, henna or animal crossword, which henna is good for black hair, are henna freckles cultural appropriation, henna 100 pure, henna quimica alemana, 80 henna 20 indigo, henna vs overtone, henna z amlą, henna 100 organic, henna user, henna or animal crossword clue, henna quotes for her, are henna permanent, will henna lighten dark hair, how much henna powder to water, will henna stain my tub, henna or anil, henna near croydon, henna used for freckles, 04 henna, henna blomroos, henna xperts, will henna fade from hair, henna upper arm tattoo, henna javaid, which henna is best for freckles, marudhani, maruthani design, mardaani 1, mardaani 2, mardaani 2 trailer, mardaani cast, mardaani 2 movie, marudhani song, mardaani movie download, marudaani song, mardaani hindi movie, maruthani vaipathu eppadi, mardaani 2 rating, marudhani song download, maruthani images, mardaani hindi full movie, marudhani images, marudhani song lyrics, marudhani movie, mardaani 1 full movie, maruthani photos, maruthani leaf, maruthani leaves, maruthani in english, maruthani design images, maruthani plant, maruthani cone design, maruthani tamil movie, marudhani lyrics, mardaani hindi movie full hd 2014, marudhani video song, maruthani tamil song, marudhani model, marudhani videos, marudhani marudhani, mardaani jhumar, maruthani design girl, marudhani full video song, maruthani powder, maruthani leaves for hand, maruthani ilai, mardaani 1 movie, maruthani design full hand, maruthani tamil movie download, maruthani botanical name, maruthani benefits, marudhani tamil movie, maruthani picture, maruthani english meaning, maruthani for hair, maruthani tree, maruthani new design, maruthani chedi, marudhani audio song mp4 download, marudhani mp3 songs, maruthani design videos, maruthani oil in tamil, marudhani corn, maruthani plant in english, marudhani savoury eppadi, maruthani oil preparation in tamil, marudhani tamil song, maruthani kavithai, maruthani leaf design, maruthani oil, maruthani leaves in english, mardaani hindi, marudhani kolangal, maruthani kolam, maruthani uses for hair in tamil, maruthani design in tamil, maruthani hair pack, marudhani film, maruthani design in leg, maruthani film, maruthani name in english, maruthani kon, maruthani kavithai in tamil, marudhani vizhiyil">
    <meta name="keywords" content="marudhani marudhani design, mardaani 1 amazon prime, mardaani hd, maruthani plant uses, mardaani 2 prime, mardaani hotstar, mardaani hindi picture, maruthani full movie download, mardaani hit or flop, mardaani hindi meaning, marudhani song whatsapp status, marudhani paudwal, marudhani whatsapp status download, maruthani design new, marudhani poosamal sivakindren unnale lyrics, maruthani cone design photos, maruthani uses for hair, maruthani cartoon, marudhani re, maruthani kon image, how to put maruthani, marudhani whatsapp status, maruthani nanmaigal in tamil, maruthani eppadi eppadi, marudhani karaoke, maruthani cone eppadi, maruthani leaves images, mardaani 2 box office, mardaani 1 review, mardaani 2 review, mardaani 2 actors, maruthani leaf design in tamil, mardaani 2 villain, mardaani 2 netflix, maruthani in tamil, mardaani 1 trailer, marudhani cherry, marudhani movie songs, maruthani in hindi, marudhani wife, mardaani 1 real story, how to prepare marudhani, marudhani poosamal sivakindren unnale song, marudhani quotes, marudhani girl, marudhani ready, marudhani on lips, maruthani gaana, marudhani audio song, marudhani vital, marudhani portal, marudhani song in tamil, marudhani ekadashi vrat katha, marudhani song 320kbps, marudhani ar rahman song, maruthani oil benefits in tamil, marudhani whatsapp, marudhani uses, marudhani padalgal, marudhani tamil video, marudhani video song mp3 download, maruthani kanavil vanthal, maruthani nanmaigal, marudhani mein, maruthani wala, marudhani recipe, maruthani in english name, maruthani ennai, marudhani welcome, marudhani full song, maruthani in telugu, maruthani ekadashi ki kahani, maruthani design tamil video, miruthan thiraipadam tamil, maruthani beauty tips in tamil, maruthani bgm zedge, marudhani oil, marudhani vidhai, marudhani liquid, marudhani arabpati eppadi, marudhani song mp3 320kbps, marudhani google, marudhani mp3 320kbps download, marudhani jalsa, marudhani re video, maruthani nee vizhiyil tamil song lyrics, maruthani normal design, marudhani song meaning, marudhani gan, maruthani in leg, marudhani meera jasmine movie, marudhani in leg, maruthani cone images, maruthani benefits for hair, marudhani aarti, maruthani benefits for hair in tamil, maruthani uses in english, maruthani benefits tamil, marudhani audio song free download, maruthani design *easy, marudhani go jhumar song, maruthani payangal, maruthani ekadashi ki katha, marudhani bike, marudhani corn video, marudhani meaning in english, mardaani jhumar song, maruthani ekadashi ki vrat katha, maruthani full song, mardaani 1 movie review, marudhani radha, marudhani radha shri radha, marudhani vidhi, mardaani 1 vs mardaani 2, marudhani song download 320kbps, marudhani ringtone free download, marudhani ringtone download, marudhani go, marudhani arachi vachan song, maruthani tamil 3 padam, maruthani quotes in tamil, marutha nee vizhiyil tamil song lyrics, marudhani archana, maruthani film in tamil, marudhani welcome design, maruthani kashi ki katha, maruthani arachne song download, maruthani flower uses, maruthani leaf images, marudhani tamil movie download, marudhani singer, marudhani bgm download, maruthani scientific name, marudhani mr jatt, maruthani nalla sevaka, marudhani song 320 kbps download, marudhani bgm ringtone download, maruthani quotes, maruthani nalla sivaka in tamil, maruthani video song tamil, mardaani vikram orai, marudhani song gaana, maruthani boy, maruthani ekadashi ka mahatva, maruthani ki dawa, marudhani wiki, maruthani use in tamil, marudhani podi, marudhani vikram, mardaani meera jasmine full movie, marudhani geet, maruthani daru pk, marudhani nalla savoury eppadi, how to remove marudhani, maruthani old movie songs, marudhani ekadashi, marudhani full movie, marudhani wikipedia, marudhani re prema, how to make marudhani, marudhani re video song, marudhani tamil movie songs, marudhani ghazal, maruthani use, marudhani meaning, marudhani open, maruthani old tamil movie, mardaani 1 villain, marudhani welcome video, , mehandhi, mehndi design, mehndi designs, mehndi, mehndi design easy, mehndi new design, mehandi laga ke rakhna, mehndi simple, mehndi laga ke rakhna, mehndi video, mehndi video design, mehndi images, simple and easy mehndi design, mehndi hand designs, bridal mehndi, mehndi bridal, mehndi bride, mehndi film, mehndi pictures, mehndi pics, mehndi designs kids, mehndi tattoo, mehndi songs, full hand mehndi, mehndi style, back hand mehndi, mehandi mehandi, mehndi hands, mehndi jewellery design, mehndi flower design, mehndi for fingers, mehndi leg, mehndi book, mehdi hassan, mehndi movie, mehandi circus songs, mehndi unique design, mehndi designs for feet, mehandi cone, mehndi color, foot mehndi, mehndi 2019, mehandi arabic designs, mehndi wallpaper, mehandi easy designs, mehndi pakistani, mehandi movie, mehndi dress, mehandi art, mehndi rachne wali, mehndi art, mehndi hair, mehndi in hair, mehndi models, wedding mehndi, mehendi latest design, mehandi for legs, mehndi rose, mehndi patterns, mehndi bridal dresses, mehndi decoration, mehandi artist, mehndi songs list, mehndi dance, mehndi in english, mehndi english, mehandi circus review, mehandi app, mehandi artist near me, mehndi designs 2020, mehendi quotes, mehandi circus mp3 songs, mehndi youtube, mehndi ceremony, mehndi near me, mehndi rang lagyo, mehndi jewellery, mehndi jewelry, mehndi stickers, mehendi for hair, mehendi leaves, mehandi circus, mehendi for kids, mehndi movie song, mehndi hair color, mehandi for hair, mehendi outfits, mehndi plant, mehndi rasam, mehndi invitation, mehndi english meaning, mehndi mein, mehandi mehandi song, mehndi 2 film, mehndi stencils, mehandi acchi acchi, mehndi tree, marriage mehndi, mehndi remover, mehndi 2018, mehndi rang layi, mehandi circus music director, mehendi look for bridesmaids, mehndi welcome sign, mehendi feet, mehandi amazon, mehendi on black hair, mehandi coupon code, top 10 mehndi design, mehndi recipe, mehendi function, mehendi wala near me, mehndi party, mehandi mehandi ki design, mehndi rang layegi, mehndi video dikhao, mehndi ungli design, mehndi instagram, mehndi bridal outfits">
    <meta name="keywords" content="mehendi outfits for bride, mehndi ni mehndi, mehndi songs lyrics, mehandi mehandi mehandi mein, mehndi vector, mehendi wali near me, how mehndi design, mehandi easy design images, mehndi powder, mehendi look, mehndi youtube video, mehendi lehenga, mehandi ceremony, how mehndi is useful for hairs, mehndi jewellery designs 2017, mehndi tubes, mehndi ungli ki design, mehndi jutti, mehndi stage, mehndi background, mehndi invitation wording, mehndi 2020, mehndi night, which mehndi cone is best for bridal, mehndi utarne ka tarika, mehendi outfits for guests, mehndi english word, mehndi stamps, mehndi themes, mehndi 2 bhojpuri movie, mehndi juda, mehndi butterfly, mehendi quotes in hindi, mehendi oil, mehendi on hair, mehndi indian wedding, mehndi drama, which mehndi is good for hair, mehndi history, mehndi jaal design, mehndi plates, mehendi meaning, which mehndi is best for hair, mehendi flower, mehndi blouse, mehndi vs hair color, mehndi 2 picture video, mehndi 2017, how mehndi colour get dark, mehendi wedding, mehndi utarne ke tarike, which mehndi cone is best for hands, mehendi online, mehndi urbanclap, mehndi templates, mehndi nearby, which mehndi cone is best, mehndi tools, mehndi hai rachne wali movie, mehndi tradition, mehndi yadav, mehndi henna kit, mehndi night songs, mehandi cone near me, mehndi youtube par, mehndi hair dye, mehendi favors, mehndi vector png, mehendi for grey hair, mehndi trays, mehndi vs henna, mehndi jewellery set, mehndi pakistani drama, mehndi backdrop, mehendi for hair color, mehndi night ideas, mehandi event, mehndi rachne wali lyrics, which mehndi is good for hair colour, mehndi return gifts, mehndi yellow dresses, how mehndi is made, how much do mehndi artists charge, mehndi ingredients, mehendi wishes, mehendi lehenga designs, mehndi vs hair colour, which mehndi is best for white hair, mehndi jobs near me, mehndi hand art, which mehndi is best for hands, mehandi easy photos, mehndi night decor ideas, mehndi night games, mehndi utarne ka tarika in urdu, mehendi with beetroot, mehndi venues near me, mehndi pronunciation, mehndi yellow dress designs, mehndi umbrella entrance, mehndi indian movie, mehendi quotes for husband, how mehndi get dark, mehndi 9, mehendi wikipedia, mehendi on hair time, mehndi night gifts, mehndi drama cast, mehandi and indigo for hair, mehendi welcome board, which mehndi is best for hair colour, who mehndi pyar wali, mehndi ink, mehndi 99, mehendi or mehndi, how many mehndi, mehendi wear, mehndi tattoo sleeve, which mehndi is good for hand, mehndi youtube channel, mehndi lengha, why mehndi design, mehndi yaar, mehndi 2021, mehndi nj, mehndi umbrella, mehndi jhoola decoration, how much does mehndi cost, mehndi zone, how mehndi pyar wali, when mehndi is dark, why mehndi ceremony, where mehndi design, mehendi latest design 2020, without mehndi, why mehndi at diwali, mehndi versus video, near mehndi design, mehndi seeds, mehndi zoom photo, mehandi episode 1, mehndi 2 film video, how mehndi works, why mehndi turns black, when mehndi ka design, mehndi zomato, mehndi 900, mehndi zee tv, when mehndi design, when mehndi started, mehandi easy style, mehendi quotes in urdu, how much mehndi design, why mehndi is applied, where mehndi is used, mehndi beer, mehendi quotes for friends, why mehndi gives colour, dholki and mehndi, mehendi quotes in marathi, mehndi z, how much do mehndi tattoos cost, mehndi 2020 pic, near mehndi shop, mehndi vs sangeet, mehndi vibes, mehndi 9 batao, mehndi unique design 2019, who mehndi design, how mehndi can be removed, how mehndi become dark, why mehndi becomes dark, mehndi vibes meaning in urdu, how many mehndi design, mehendi quotes for instagram, mehndi youtube mein, mehndi with buds, how mehndi ki design, mehndi 95, mehendi quotes for groom, why mehndi for a wedding, mehendi quotes for sister, mehandi easy step, how much do mehndi cost, mehndi zanjeer wali, mehndi youtube design, mehendi origin, henna designs and mehndi, mehndi zone cathedral road, mehndi 902, mehndi vs tattoo, why mehndi turns red, how much does mehndi cost in india, mehndi 9 class, mehndi zindagi, mehandi circus 1080p video songs, why mehndi gives red colour, how much do mehndi artists charge uk, mehndi thaal, mehendi quotation, mehndi zara, when mehndi video, mehandi circus imdb, mehandi ancient sunrise henna">
    <meta name="description" content="Mehndi (also called Mehandi) is the traditional art of painting the hands, feet or body with a paste made from the powdered, dried leaves of the henna plant (Botanical name : Lawsonia Inermis). It stain's a usually cherry-red to brown color but this can vary with time left on and a range of other factors. Coffee, lemon, tea, and essential oils are sometimes added for texture, smell or to help the stain. Mehndi started in the Middle East and Northern Africa over 5,000 years ago. It has been used for artistic, ritual and ceremonial use. Archeologists have even found mummies with hennaed hands. It's becoming popular for a pain free, temporary body art here in the states">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Mohanavelu">
    <title>Mehndi for brides</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="fonts/LineIcons.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/owl.theme.css">
    <link rel="stylesheet" href="css/nivo-lightbox.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/menu_sideslide.css">
    <link rel="stylesheet" href="css/main.css">    
    <link rel="stylesheet" href="css/colors/wisteria.css"> 
    <link rel="stylesheet" href="css/custom.css">    
    <link rel="stylesheet" href="css/responsive.css">

  </head>
  
  <body>
    <!-- Header Section Start -->
    <header id="slider-area">  
      <div class="navigation navigation-two">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand page-scroll" href="/#slider-area"><img src="/images/henna-2.png" style="width: 48px;" >Bridesart</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="toggler-icon"></span>
                    <span class="toggler-icon"></span>
                    <span class="toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="page-scroll" href="#slider-area">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="page-scroll" href="#services">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="page-scroll" href="#features">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="page-scroll" href="#portfolios">Works</a>
                        </li>
                        <li class="nav-item">
                            <a class="page-scroll" href="#pricing">Pricing</a>
                        </li>
                        {{!-- <li class="nav-item">
                            <a class="page-scroll" href="#team">Team</a>
                        </li>
                        <li class="nav-item">
                            <a class="page-scroll" href="#subscribe">Subscribe</a>
                        </li>
                        <li class="nav-item">
                            <a class="page-scroll" href="#blog">Blog</a>
                        </li> --}}
                        <li class="nav-item">
                            <a class="page-scroll" href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

      <!-- Main Carousel Section -->
      <div id="carousel-area">
        <div id="carousel-slider" class="carousel slide carousel-fade" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-slider" data-slide-to="1"></li>
            <li data-target="#carousel-slider" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img src="img/slider/bn-bg-4.png" class="img-layer" alt="">
              <div class="carousel-caption text-center">
                <h3 class="wow fadeInRight" data-wow-delay="0.2s">Handart mehndi design</h1>  
                <h2 class="wow fadeInRight" data-wow-delay="0.4s">Arch of palace and ring</h2>
                <h4 class="wow fadeInRight" data-wow-delay="0.6s">Unique easy henna mehndi designs</h4>
                <!-- <a href="https://uideck.com/products/essence-free-bootstrap-4-one-page-template/" rel="nofollow" class="btn btn-lg btn-common btn-effect wow fadeInRight" data-wow-delay="0.9s">Download</a> -->
                <a href="#services" rel="nofollow" class="btn btn-lg btn-common btn-effect wow fadeInRight page-scroll" data-wow-delay="1.2s">Get Started!</a>
              </div>
            </div>
            <div class="carousel-item">
              <img src="img/slider/bn-bg-5.png" class="img-layer" alt="">
              <div class="carousel-caption text-center">
                <h3 class="wow fadeInDown" data-wow-delay="0.3s">Lotus mehndi design</h3>
                <h2 class="wow bounceIn" data-wow-delay="0.6s">Wedding celebration</h2> 
                <h4 class="wow fadeInUp" data-wow-delay="0.9s">unique design for each finger</h4>
                <a href="#services" rel="nofollow" class="btn btn-lg btn-common btn-effect wow fadeInUp" data-wow-delay="1.2s">Get Started</a>
              </div>
            </div>
            <div class="carousel-item">
              <img src="img/slider/bn-bg-6.png" class="img-layer" alt="">
              <div class="carousel-caption text-center">
                <h3 class="wow fadeInDown" data-wow-delay="0.3s">Set of thick design</h3>
                <h2 class="wow fadeInRight" data-wow-delay="0.6s">For marriage ceremony</h2> 
                <h4 class="wow fadeInUp" data-wow-delay="0.6s">Art with multiple elements</h4>
                <a href="#services" rel="nofollow" class="btn btn-lg btn-border wow fadeInUp" data-wow-delay="0.9s">Get Started</a>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carousel-slider" role="button" data-slide="prev">
            <span class="carousel-control" aria-hidden="true"><i class="lni-chevron-left"></i></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel-slider" role="button" data-slide="next">
            <span class="carousel-control" aria-hidden="true"><i class="lni-chevron-right"></i></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>  

    </header>
    <!-- Header Section End --> 

    <!-- Services Section Start -->
    <section id="services" class="section">
      <div class="container">
        <div class="section-header">          
          <h2 class="section-title">Our Services</h2>
          <span>Services</span>
          <p class="section-subtitle"></p>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="item-boxes services-item services-box wow fadeInDown" data-wow-delay="0.2s">
              <div class="icon color-1 card-profile">
                <img src="img/marriage-service.jpg" alt="Marriage henna design">
              </div>
              <h3>Wedding Ceremony</h3>
              <p>wedding celebration is the Mehndi party, a ceremony held before the wedding in which henna designs are applied to the bride’s hands and feet.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="item-boxes services-item services-box wow fadeInDown" data-wow-delay="0.4s">
              <div class="icon color-2 card-profile">
                <img src="img/betrothal-service.jpg" alt="Betrothal henna design">
              </div>
              <h3>Betrothal Function</h3>
              <p>Traditionally, the most intricate henna patterns are applied to the bride to set her apart from everyone else</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="item-boxes services-item services-box wow fadeInDown" data-wow-delay="0.6s">
              <div class="icon color-3 card-profile">
                <img src="img/birthday-service.jpg" alt="Birthday henna design">
              </div>
              <h3>Birthday Celebration</h3>
              <p>Henna designs are being applied for birthday baby for any age group</p>
            </div>
          </div>
          <!-- <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="item-boxes services-item wow fadeInDown" data-wow-delay="0.8s">
              <div class="icon color-4">
                <i class="lni-layers"></i>
              </div>
              <h4>UI/UX Design</h4>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="item-boxes services-item wow fadeInDown" data-wow-delay="1s">
              <div class="icon color-5">
                <i class="lni-tab"></i>
              </div>
              <h4>App Development</h4>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="item-boxes services-item wow fadeInDown" data-wow-delay="1.2s">
              <div class="icon color-6">
                <i class="lni-briefcase"></i>
              </div>
              <h4>Digital Marketing</h4>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut.</p>
            </div>
          </div> -->
        </div>
      </div>
    </section>
    <!-- Services Section End -->

    <!-- Call to Action Start -->
    <section class="call-action section mb-1">
      <div class="container">
        <div class="section-header">          
          <h2 class="section-title">About us</h2>
          <span>About</span>
          <p class="section-subtitle">Learn little more about us and Mehndi.</p>
        </div>
        <div class="row justify-content-center">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="about-image mt-50 wow fadeInLeftBig" data-wow-duration="1s" data-wow-delay="0.5s"
                style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInLeftBig;">
                <img src="img/artist-making-mehndi-womans-pamls.jpg" alt="">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="about-content mt-50 wow fadeInRightBig" data-wow-duration="1s" data-wow-delay="0.5s"
                style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInRightBig;">
                <!-- <h3 class="title">Learn Little <br> More About Us <br> and Industry.</h3> -->
                <!-- <ul class="about-line">
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul> -->
                <p class="text">
                  We are doing Mehndi art service for the past 2 years and we do have varities of designs and do customise upon customer needs.
                </p>
                <p class="text"></p>
                  Mehndi is a form of body art originating in ancient India, in which decorative designs are created on a person's body, using a paste, created from the powdered dry leaves of the henna plant (Lawsonia inermis
                </p>
                <br><br>
                <div class="about-counter pt-20">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="single-counter counter-color-1 mt-30 d-flex">
                        <div class="counter-shape">
                          <span class="shape-1"></span>
                          <span class="shape-2"></span>
                        </div>
                        <div class="counter-content media-body">
                          <span class="counter-count"><span class="counter">25</span>+</span>
                          <p class="text">Clients</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="single-counter counter-color-2 mt-30 d-flex">
                        <div class="counter-shape">
                          <span class="shape-1"></span>
                          <span class="shape-2"></span>
                        </div>
                        <div class="counter-content media-body">
                          <span class="counter-count"><span class="counter">42</span>+</span>
                          <p class="text">Projects Done</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Call to Action End -->
    
    <!-- Call to Action Start -->
    <section class="call-action section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-10">
            <div class="cta-trial text-center">
              <h3>Are You Ready To Get Started?</h3>
              {{!-- <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod<br> Lorem ipsum dolor sit amet, consectetuer</p> --}}
              <a href="#contact" class="btn btn-common btn-effect">Reach us</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Call to Action End -->

    <!-- Features Section Start -->
    <section id="features" class="section">
    </section>
    <!-- Features Section End -->    

    <!-- Start Video promo Section -->
    <section class="video-promo section">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12">
              <div class="video-promo-content text-center">
                <a href="https://www.youtube.com/embed/LSgBpbgTlhw" class="video-popup"><i class="lni-play"></i></a>
                <h2 class="wow zoomIn" data-wow-duration="1000ms" data-wow-delay="100ms">Our Introductory Video</h2>
                <p class="wow zoomIn" data-wow-duration="1000ms" data-wow-delay="100ms">Learn more about us, its only 30mins</p>
              </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Video Promo Section -->

    <!-- Portfolio Section -->
    <section id="portfolios" class="section">
      <!-- Container Starts -->
      <div class="container">
        <div class="section-header">          
          <h2 class="section-title">Our Works</h2>
          <span>Works</span>
          <p class="section-subtitle">We provide various mehndi/henna designs for your needs</p>
        </div>
        <div class="row">
          <div class="col-md-12">
            <!-- Portfolio Controller/Buttons -->
            <div class="controls text-center">
              <a class="filter active btn btn-common btn-effect" data-filter="all">
                All 
              </a>
              <a class="filter btn btn-common btn-effect" data-filter=".design">
                Design 
              </a>
              <a class="filter btn btn-common btn-effect" data-filter=".development">
                Development
              </a>
              <a class="filter btn btn-common btn-effect" data-filter=".print">
                Print 
              </a>
            </div>
            <!-- Portfolio Controller/Buttons Ends-->
          </div>
        </div>

        <!-- Portfolio Recent Projects -->
        <div id="portfolio" class="row">
          <div class="col-lg-4 col-md-6 col-xs-12 mix development print">
            <div class="portfolio-item">
              <div class="shot-item">
                <img src="img/portfolio/port-1-350.png" alt="" />  
                <div class="single-content">
                  <div class="fancy-table">
                    <div class="table-cell">
                      <div class="zoom-icon">
                        <a class="lightbox" href="img/portfolio/original/IMG-20191116-WA0024.jpg"><i class="lni-zoom-in item-icon"></i></a>
                      </div>
                      <a href="#">View Project</a>
                    </div>
                  </div>
                </div>
              </div>               
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12 mix design print">
            <div class="portfolio-item">
              <div class="shot-item">
                <img src="img/portfolio/port-2-350.png" alt="" /> 
                <div class="single-content">
                  <div class="fancy-table">
                    <div class="table-cell">
                      <div class="zoom-icon">
                        <a class="lightbox" href="img/portfolio/original/IMG-20191116-WA0026.jpg"><i class="lni-zoom-in item-icon"></i></a>
                      </div>
                      <a href="#">View Project</a>
                    </div>
                  </div>
                </div>
              </div>               
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12 mix development">
            <div class="portfolio-item">
              <div class="shot-item">
                <img src="img/portfolio/port-3-350.png" alt="" />  
                <div class="single-content">
                  <div class="fancy-table">
                    <div class="table-cell">
                      <div class="zoom-icon">
                        <a class="lightbox" href="img/portfolio/original/IMG-20191116-WA0029.jpg"><i class="lni-zoom-in item-icon"></i></a>
                      </div>
                      <a href="#">View Project</a>
                    </div>
                  </div>
                </div>
              </div>               
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12 mix development design">
            <div class="portfolio-item">
              <div class="shot-item">
                <img src="img/portfolio/port-4-350.png" alt="" /> 
                <div class="single-content">
                  <div class="fancy-table">
                    <div class="table-cell">
                      <div class="zoom-icon">
                        <a class="lightbox" href="img/portfolio/original/IMG-20191116-WA0031.jpg"><i class="lni-zoom-in item-icon"></i></a>
                      </div>
                      <a href="#">View Project</a>
                    </div>
                  </div>
                </div>
              </div>               
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12 mix development">
            <div class="portfolio-item">
              <div class="shot-item">
                <img src="img/portfolio/port-5-350.png" alt="" />  
                <div class="single-content">
                  <div class="fancy-table">
                    <div class="table-cell">
                      <div class="zoom-icon">
                        <a class="lightbox" href="img/portfolio/original/IMG-20191116-WA0032.jpg"><i class="lni-zoom-in item-icon"></i></a>
                      </div>
                      <a href="#">View Project</a>
                    </div>
                  </div>
                </div>
              </div>               
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12 mix print design">
            <div class="portfolio-item">
              <div class="shot-item">
                <img src="img/portfolio/port-6-350.png" alt="" />  
                <div class="single-content">
                  <div class="fancy-table">
                    <div class="table-cell">
                      <div class="zoom-icon">
                        <a class="lightbox" href="img/portfolio/original/IMG-20200306-WA0028.jpg"><i class="lni-zoom-in item-icon"></i></a>
                      </div>
                      <a href="#">View Project</a>
                    </div>
                  </div>
                </div>
              </div>               
            </div>
          </div>
        </div>
      </div>
      <!-- Container Ends -->
    </section>
    <!-- Portfolio Section Ends --> 

    <!-- Start Pricing Table Section -->
    <div id="pricing" class="section pricing-section">
      <div class="container">
        <div class="section-header">          
          <h2 class="section-title">Pricing Plans</h2>
          <span>Pricing</span>
          <p class="section-subtitle">Price for henna service will vary based on the depth of the design</p>
        </div>

        <div class="row pricing-tables">
          <div class="col-lg-4 col-md-4 col-xs-12">
            <div class="pricing-table">
              <div class="pricing-details">
                <h2>Simple design Plan</h2>
                <div class="price">Rs 500 <span>/art</span></div>
                <ul>
                  <li>Consectetur adipiscing</li>
                  <li>Nunc luctus nulla et tellus</li>
                  <li>Suspendisse quis metus</li>
                  <li>Vestibul varius fermentum erat</li>
                  <li> - </li>
                </ul>
              </div>
              <div class="plan-button">
                <a href="#" class="btn btn-common btn-effect">Get Plan</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-xs-12">
            <div class="pricing-table pricing-big">
              <div class="pricing-details">
                <h2>Medium design</h2>
                <div class="price">Rs 800 <span>/art</span></div>
                <ul>
                  <li>Consectetur adipiscing</li>
                  <li>Nunc luctus nulla et tellus</li>
                  <li>Suspendisse quis metus</li>
                  <li>Vestibul varius fermentum erat</li>
                  <li> - </li>
                </ul>
              </div>
              <div class="plan-button">
                <a href="#" class="btn btn-common btn-effect">Buy Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-xs-12">
            <div class="pricing-table">
              <div class="pricing-details">
                <h2>Large design (1 feet)</h2>
                <div class="price">Rs 999 <span>/art</span></div>
                <ul>
                  <li>Consectetur adipiscing</li>
                  <li>Nunc luctus nulla et tellus</li>
                  <li>Suspendisse quis metus</li>
                  <li>Vestibul varius fermentum erat</li>
                  <li>Suspendisse quis metus</li>
                </ul>
              </div>
              <div class="plan-button">
                <a href="#" class="btn btn-common btn-effect">Buy Now</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- End Pricing Table Section -->

    <!-- Testimonial Section Start -->
    <section class="testimonial section">
      <div class="container">
        <div class="section-header">
            <h2 class="section-title">Customer Voice</h2>
            <span>Customer</span>
            <p class="section-subtitle">Received feedback from following customers</p>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div id="testimonials" class="touch-slider owl-carousel">
              <div class="item">
                <div class="testimonial-item">
                  <div class="author">
                    <div class="img-thumb">
                    <img src="img/testimonial/img1.jpg" alt="">
                    </div>
                    <div class="author-info">
                      <h2><a href="#">Johnathan Doe</a></h2>
                      <span>Marketing Head Matrix media</span>
                    </div>
                  </div>
                  <div class="content-inner">
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quidem, excepturi facere magnam illum, at accusantium doloremque odio.</p>
                    <span><i class="lni-star-filled"></i></span>
                    <span><i class="lni-star-filled"></i></span>
                    <span><i class="lni-star-filled"></i></span>
                    <span><i class="lni-star"></i></span>
                    <span><i class="lni-star"></i></span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-item">
                  <div class="author">
                    <div class="img-thumb">
                    <img src="img/testimonial/img2.jpg" alt="">
                    </div>
                    <div class="author-info">
                      <h2><a href="#">Oidila Matik</a></h2>
                      <span>President Lexo Inc</span>
                    </div>
                  </div>
                  <div class="content-inner">
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quidem, excepturi facere magnam illum, at accusantium doloremque odio.</p>
                    <span><i class="lni-star-filled"></i></span>
                    <span><i class="lni-star-filled"></i></span>
                    <span><i class="lni-star-filled"></i></span>
                    <span><i class="lni-star-filled"></i></span>
                    <span><i class="lni-star-filled"></i></span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-item">
                  <div class="author">
                    <div class="img-thumb">
                    <img src="img/testimonial/img3.jpg" alt="">
                    </div>
                    <div class="author-info">
                      <h2><a href="#">- Alex Dattilo</a></h2>
                      <span>CEO Optima Inc</span>
                    </div>
                  </div>
                  <div class="content-inner">
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quidem, excepturi facere magnam illum, at accusantium doloremque odio.</p>
                    <span><i class="lni-star-filled"></i></span>
                    <span><i class="lni-star-filled"></i></span>
                    <span><i class="lni-star-filled"></i></span>
                    <span><i class="lni-star-filled"></i></span>
                    <span><i class="lni-star"></i></span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-item">
                  <div class="author">
                    <div class="img-thumb">
                    <img src="img/testimonial/img2.jpg" alt="">
                    </div>
                    <div class="author-info">
                      <h2><a href="#">Oidila Matik</a></h2>
                      <span>President Lexo Inc</span>
                    </div>
                  </div>
                  <div class="content-inner">
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quidem, excepturi facere magnam illum, at accusantium doloremque odio.</p>
                    <span><i class="lni-star-filled"></i></span>
                    <span><i class="lni-star-filled"></i></span>
                    <span><i class="lni-star-filled"></i></span>
                    <span><i class="lni-star-filled"></i></span>
                    <span><i class="lni-star-filled"></i></span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-item">
                  <div class="author">
                    <div class="img-thumb">
                    <img src="img/testimonial/img1.jpg" alt="">
                    </div>
                    <div class="author-info">
                      <h2><a href="#">- Alex Dattilo</a></h2>
                      <span>CEO Optima Inc</span>
                    </div>
                  </div>
                  <div class="content-inner">
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quidem, excepturi facere magnam illum, at accusantium doloremque odio.</p>
                    <span><i class="lni-star-filled"></i></span>
                    <span><i class="lni-star-filled"></i></span>
                    <span><i class="lni-star"></i></span>
                    <span><i class="lni-star"></i></span>
                    <span><i class="lni-star"></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Testimonial Section End --> 

    <!-- Call To Action Section Start -->
    <section id="cta" class="section" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-8 col-xs-12">            
            <div class="cta-text">
              <h5>Hope you are inspired now. <br> Please reach us @ +91 93844 25399 for more details!</h5>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-xs-12 text-right">
            <a href="#" class="btn btn-border">Download</a>
          </div>
        </div>
      </div>
    </section>
    <!-- Call To Action Section Start -->

        <!-- Team section Start -->
        <section id="team" class="section" style="display: none;">
        </section>
        <!-- Team section End -->
    
        <!-- Subcribe Section Start -->
        <div id="subscribe" class="section" style="display: none;">
        </div>
        <!-- Subcribe Section End -->
    
        <!-- Blog Section -->
        <section id="blog" class="section" style="display: none;">
        </section>
        <!-- blog Section End -->
    
        <!-- Clients Section -->
        <div id="clients" class="section" style="display: none;">
        </div>
        <!-- Client Section End --> 

    <!-- Contact Section Start -->
    <section id="contact" class="section">      
      <div class="contact-form">
        <div class="container">
          <div class="section-header">          
            <h2 class="section-title">Get In Touch</h2>
            <span>Get In Touch</span>
            <p class="section-subtitle">Please reach us with your contact details to get more information about mehndi/henna service for various occasion</p>
          </div>
          <div class="row">          
            <div class="col-lg-9 col-md-9 col-xs-12">
              <div class="contact-block">
                <form id="contactForm">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" required data-error="Please enter your name">
                        <div class="help-block with-errors"></div>
                      </div>                                 
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <input type="text" placeholder="Your Email" id="email" class="form-control" name="name" required data-error="Please enter your email">
                        <div class="help-block with-errors"></div>
                      </div> 
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <input type="number" placeholder="Contact Number" id="mobilenumber" class="form-control" required data-error="Please enter your contact number" pattern="\d*" maxlength="10" onKeyPress="if(this.value.length>=10) return false;" >
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group"> 
                        <textarea class="form-control" id="message" placeholder="Your Message" rows="7" data-error="Write your message" required></textarea>
                        <div class="help-block with-errors"></div>
                      </div>
                      <div class="submit-button">
                        <button class="btn btn-common btn-effect" id="submit" type="submit">Send Message</button>
                        <div id="msgSubmit" class="h3 hidden mt-2"></div> 
                        <div class="clearfix"></div> 
                      </div>
                    </div>
                  </div>            
                </form>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-12">
              <div class="contact-deatils">
                <!-- Content Info -->
                <div class="contact-info_area">
                  <div class="contact-info">
                    <i class="lni-map"></i>
                    <h5>Location</h5>
                    <p>87/25, Vaithiyar Street, TIRUVETHIPURAM, Cheyyar 604407
                    </p>
                  </div>
                  <!-- Content Info -->
                  <div class="contact-info">
                    <i class="lni-star"></i>
                    <h5>E-mail</h5>
                    <p>shanmugapriya@gmail.com</p>
                  </div>
                  <!-- Content Info -->
                  <div class="contact-info">
                    <i class="lni-phone"></i>
                    <h5>Phone</h5>
                    <p>+91 99947 07433</p>
                  </div>
                  <!-- Icon -->
                  <ul class="footer-social">
                    <li><a class="facebook" href="#"><i class="lni-facebook-filled"></i></a></li>
                    <li><a class="twitter" href="#"><i class="lni-twitter-filled"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="lni-linkedin-original"></i></a></li>
                    <li><a class="google-plus" href="#"><i class="lni-instagram"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>            
    </section>
    <!-- Contact Section End -->
    
    <!-- Map Section Start -->
    <section id="google-map-area">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 padding-0">
            <object style="border:0; height: 450px; width: 100%;" data="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7785.762501679221!2d79.5425133261987!3d12.655790064254441!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a52d7702f0b0ce9%3A0xc3f0ac85f4d71719!2sVaithiyar%20Street%2C%20Cheyyar%2C%20Tamil%20Nadu%20604407%2C%20India!5e0!3m2!1sen!2sbd!4v1583692242648!5m2!1sen!2sbd"></object>
          </div>
        </div>
      </div>
    </section>
    <!-- Map Section End -->

    <!-- Footer Section Start -->
    <footer>
      <!-- Footer Area Start -->
      <section class="footer-Content">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <h3>{{sitelogo}}</h3>
              <div class="textwidget">
                <p>
                  Henna is natural, unadulterated henna is extremely safe, and has been used as a natural form of body art for thousands of years. Henna is the dried, powdered leaf of the henna plant.
                </p>
              </div>
              <ul class="footer-social">
                <li><a class="facebook" href="#"><i class="lni-facebook-filled"></i></a></li>
                <li><a class="twitter" href="#"><i class="lni-twitter-filled"></i></a></li>
                <li><a class="linkedin" href="#"><i class="lni-linkedin-original"></i></a></li>
                <li><a class="google-plus" href="#"><i class="lni-instagram"></i></a></li>
              </ul> 
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="block-title">Short Link</h3>
                <ul class="menu">
                  <li><a href="#">Service</a></li>
                  <li><a href="#">Wishlist</a></li>
                  <li><a href="#">FAQ</a></li>
                  <li><a href="#">Advance Sarch</a></li>
                  <li><a href="#">Site Map</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="block-title">Contact Us</h3>
                <ul class="contact-footer">
                  <li>
                    <strong>Address :</strong> <span>87/25, Vaithiyar Street, TIRUVETHIPURAM, Cheyyar 604407</span>
                  </li>
                  <li>
                    <strong>Phone :</strong> <span>+91 99947 07433</span>
                  </li>
                  <li>
                    <strong>E-mail :</strong> <span><a href="#">shanmugapriya@gmail.com                    </a></span>
                  </li>
                </ul> 
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
              <div class="widget">
                <h3 class="block-title">Instagram</h3>
                <ul class="instagram-footer">
                  <li><a href="#"><img src="img/instagram/insta1.jpg" alt=""></a></li>
                  <li><a href="#"><img src="img/instagram/insta2.jpg" alt=""></a></li>
                  <li><a href="#"><img src="img/instagram/insta3.jpg" alt=""></a></li>
                  <li><a href="#"><img src="img/instagram/insta4.jpg" alt=""></a></li>
                  <li><a href="#"><img src="img/instagram/insta5.jpg" alt=""></a></li>
                  <li><a href="#"><img src="img/instagram/insta6.jpg" alt=""></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Footer area End -->
      
      <!-- Copyright Start  -->
      <div id="copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="site-info float-left">
                <p>Copyright © {{sitelogo}}</a></p>
              </div>              
              <div class="float-right">  
                <ul class="nav nav-inline">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">About Prime</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">TOS</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Return Policy</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">FAQ</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Copyright End -->

    </footer>
    <!-- Footer Section End --> 

    <!-- Go To Top Link -->
    <a href="#" class="back-to-top">
      <i class="lni-arrow-up"></i>
    </a>

    <div id="loader">
      <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
    </div>    

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="js/jquery-min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/classie.js"></script>
 
    <script src="js/jquery.mixitup.js"></script>
    <script src="js/nivo-lightbox.js"></script>
    <script src="js/owl.carousel.js"></script>    
    <script src="js/jquery.stellar.min.js"></script>    
    <script src="js/jquery.nav.js"></script>    
    <script src="js/scrolling-nav.js"></script>    
    <script src="js/jquery.easing.min.js"></script>     
    <script src="js/wow.js"></script> 
    <script src="js/jquery.vide.js"></script>
    <script src="js/jquery.counterup.min.js"></script>    
    <script src="js/jquery.magnific-popup.min.js"></script>    
    <script src="js/waypoints.min.js"></script>    
    <script src="js/form-validator.min.js"></script>
    <script src="js/contact-form-script.js"></script>   
    <script src="js/main.js"></script>
    
  </body>
</html>